.container {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 1s;
}

.containerView {
    opacity: 1;
}

.boxSlide {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: ease-in-out .5s;
    opacity: 1;
    transform-origin: 0% 100%;
}

.showBox {
    opacity: 0;
    transform: scaleX(0);
}

