.mainContainer {
    overflow: visible;
}

.container {
    transform: translateX(-50%);
    opacity: 0;
    transition: transform .5s, opacity 1.2s;
}

.containerView {
    opacity: 1;
    transform: translateX(0);
}